body {
    background-color: #578a21;
    text-align: center;
    justify-content: center;
    position: relative;
    padding:0
}
h1 {
    font-family: Poppins;
    color: #ffffff;
}
h2 {
    font-family: Poppins;
    color: #ffffff
}
h3 {
    font-family: Poppins;
    color: #ffffff
}
div {
    border-radius: 16px;
}

p{
    font-family: Poppins;
    font-size: 20px;
    color: #ffffff
}
h2{
    color: #ffffff
}
h3{
    color: #ffffff
}


#upperpart {
    background-color: #75994e;
    border: 4px;
    border-radius: 4px;
}

#main {
    background-color: #75994e;
    padding: 12px;
    max-width: 500px
}

#main2 {
    background-color: #75994e;
    padding: 6px;
}

#links {
    text-align: center;
}

#big2{
    justify-content: center;
    text-align: center;
}
#topbar{
    display:flex;
    justify-content: space-between;
    text-align:center;
    color:white;

}
#middlespace{
    width: 70%;
}

#topbar2{
    display:flex;
    justify-content:space-between;
    text-align: center;
    margin:0.1%;
    padding:0.1%;
    color:white;
    position:sticky;
    top:0;
    z-index:999;
}
.num1 {
    display: flex;
    gap: 20px;
    justify-content: center
}

.content {
    background-color: #7D9E4F;
    border: 5px solid white
}

.spacer128px{
    height: 128px;
}

.big {
    background-color: #7D9E4F;
    border: 5px solid white;
    height: 50%;
}

.links{
    background-color: #75994e;
    padding: 10px;
    height: 50%;
    justify-content: center;
}

.button{
    margin:5px;
    font-size: 32px;
    font-family: Poppins;
    border-radius: 16px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;

}
.button:visited {
    color: inherit;
}

.button:hover {
    background-color: gray
}

.button2{
    margin-right: 5px;
    text-decoration: none;
    filter: grayscale(100%);
    transition: filter 0.2s;

}
.button2:visited {
    color: inherit;
}

.button2:hover {
    filter: grayscale(0%)
}

.button3{
    margin-top: 10%;
    font-family: Poppins;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 14px;
}

.button3:visited {
    color: inherit;
}

.button3:hover {
    color: gray
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.playwrite-gb-j-guides-regular {
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: normal;
}

.playwrite-gb-j-guides-regular-italic {
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: italic;
}
.playwrite-us-trad-something {
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.source-code-pro-something {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

